### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/frontend-old/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski

/apps/validator/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/apps/exchange
/libs/contracts/ @jarvis-network/apps/exchange
/packages/balance-notify/ @jarvis-network/apps/exchange

/libs/contracts/contracts/ @Aleione
/libs/contracts/migrations/ @Aleione
/libs/contracts/data/ @Aleione
