### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @jarvis-network/teams/developers/maintainers/frontend
/packages/frontend-old/ @jarvis-network/teams/developers/maintainers/frontend

/apps/validator/ @jarvis-network/teams/developers/maintainers/backend
/packages/keeper-bot/ @jarvis-network/teams/developers/maintainers/backend

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/teams/developers/maintainers/backend
/libs/contracts/ @jarvis-network/teams/developers/maintainers/backend
/packages/balance-notify/ @jarvis-network/teams/developers/maintainers/backend

/libs/contracts/contracts/ @jarvis-network/teams/developers/maintainers/blockchain
/libs/contracts/migrations/ @jarvis-network/teams/developers/maintainers/blockchain
