MNEMONIC=""
INFURA_PROJECT_ID=""
ALCHEMY_PROJECT_ID=""
ETHERSCAN_API_KEY=""
HARDHAT_ETHERSCAN_DEBUG_OUTPUT_ORIGINAL_PATH="./etherscan-verify/original"
HARDHAT_ETHERSCAN_DEBUG_OUTPUT_STRIPPED_PATH="./contracts-stripped"
HARDHAT_ETHERSCAN_DEBUG_OUTPUT_REQUEST_PATH="./etherscanRequest.json"
HARDHAT_ETHERSCAN_IMPORT_BASE_PATH="./contracts"
HARDHAT_ETHERSCAN_DEBUG="false"
GAS_PRICE=126e9
