html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

.bn-onboard-modal {
  z-index: 3;
}

aside.bn-onboard-custom {
  animation-name: none !important;

  > section.bn-onboard-custom {
    font-family: Krub, sans-serif;
    height: 410px;
    width: 476px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 10px;
    border-left: 9px solid #e490ae;

    .bn-onboard-modal-content-header-icon,
    .bn-onboard-select-info-container {
      display: none;
    }

    .bn-onboard-modal-content-header-heading {
      font-size: 14px;
      margin-left: 0;
    }

    .bn-onboard-modal-select-wallets {
      > li button {
        border: 1px solid #f1f1f1;
        width: 202px;
        height: 66px;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;

        > div {
          // icon
          > * {
            // icons can be img or svg
            width: 26px;
            height: 26px;
          }
        }

        span {
          // label
          &::before {
            content: 'Connect wth';
            display: block;
            font-weight: normal;
          }
          display: block;
          font-size: 12px;
          line-height: 1.4;
          margin-left: 15px;
        }
      }
    }
  }
}

body.theme-dark {
  aside.bn-onboard-custom {
    > section.bn-onboard-custom {
      background: rgb(41, 41, 41);
      color: white;

      .bn-onboard-modal-select-wallets > li button {
        border-color: rgb(59,59,59);
      }
    }
  }
}

body.theme-night {
  aside.bn-onboard-custom {
    > section.bn-onboard-custom {
      background: rgb(46,53,65);
      color: white;

      .bn-onboard-modal-select-wallets > li button {
        border-color: rgb(52,59,71);
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  aside.bn-onboard-custom.bn-onboard-custom {
    align-items: flex-end;
    background: none;

    > section.bn-onboard-custom {
      min-height: 85vh;
      min-width: 80vw;
      max-width: calc(100% - 60px);
      margin-bottom: 30px;

      ul.bn-onboard-modal-select-wallets {
        max-height: none;
      }
    }
  }
}
